rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // --- Funções Auxiliares ---
    
    // Verifica se o usuário autenticado é um administrador.
    function isAdmin() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    // Obtém o apartamento do usuário autenticado a partir do seu documento.
    function getAuthenticatedUserApartment() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.apartment;
    }
    
    // --- Coleções ---

    // Coleção de Usuários (Users)
    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow create: if request.auth != null;
      allow update: if request.auth != null && (request.auth.uid == userId || isAdmin());
      allow delete: if request.auth != null && isAdmin();
    }
    
    // Coleção de Encomendas (Packages)
    match /packages/{packageId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && isAdmin();
      allow update: if request.auth != null;
      allow delete: if request.auth != null && isAdmin();
    }
    
    // Coleção de Reservas (Reservations)
    match /reservations/{reservationId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.user == request.auth.token.email;
      allow update, delete: if request.auth != null && (isAdmin() || resource.data.user == request.auth.token.email);
    }
    
    // Coleção de Visitantes (Visitors)
    match /visitors/{visitorId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // Coleção de Ocorrências (Incidents)
    match /incidents/{incidentId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.reportedBy == request.auth.token.email;
      allow update: if request.auth != null && (isAdmin() || resource.data.reportedBy == request.auth.token.email);
      allow delete: if request.auth != null && (isAdmin() || resource.data.reportedBy == request.auth.token.email);
    }

    // Coleção de Avisos (Notices)
    match /notices/{noticeId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && isAdmin();
    }

    // Coleção de Achados e Perdidos (Lost and Found)
    match /lostAndFound/{itemId} {
      allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && (resource.data.reportedBy == request.auth.token.email || isAdmin());
    }
  }
}